@{
    ViewData["Title"] = "Reality TV Finder";
}
<h2>Reality TV Finder</h2>

<p>Reality TV Finder is an application for people who like reality TV and are just not sure
        what to start on next. In this app you can keep track of what you need to watch next and 
        what you did not enjoy last time.
</p>
<div class="row">
    <img src="~/images/loveisblind.jpg" alt="love is blind logo" asp-append-version="true"
        class="float-left img-fluid col-sm-4 shadow rounded-sm" style="width:100%"/>
</div>
