@{
    ViewData["Title"] = "Reality TV Finder";
}
<div class="jumbotron shadow" style="background-color:whitesmoke;border-radius:30px;">
    <h2>Reality TV Finder</h2>
    <h3>The only way to keep track of your Reality TV habits</h3>
</div>

    <address>
    <i class="fa fa-envelope" style="font-size:24px"></i>
        514 Munson Ave<br />
        Traverse City, MI 49696<br />
        <abbr title="Phone">P:</abbr>
        231.342.SHOW
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@realityTV.com">Support@realityTV.com</a><br />
    </address>
