@{
    ViewData["Title"] = "Reality TV Finder";
}

<div class="jumbotron shadow" style="background-color:whitesmoke;border-radius:30px;">
    <h1>Reality TV Finder</h1>
    <p class="lead">
        This application is meant to help find you a reality TV show worth viewing 
        on many different streaming sites or cable TV.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Add reviews here for the latest Reality TV you have watched...coming soon<br/>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Viewing Log</h2>
        <p>Keep track of shows you have watched or plan on watching in the log.</p>
    </div>
</div>
    <div class="row">
        <img src="~/images/tv.jpg" alt="watching tv" asp-append-version="true"
            class="float-left img-fluid col-sm-4 shadow rounded-sm" style="width:100%"/>
    </div>
